.root {
  composes: reset from global;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: var(--background);
  background: var(--brand);
  border-radius: var(--radius);
  height: 35px;
  border: 1px solid var(--brand);
  padding: 0 15px;
  font: inherit;
  font-size: var(--font-regular);
}

.root:hover:not(:disabled) {
  background: var(--brand-hover);
  border-color: var(--brand-hover);
}

.root:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.root.secondary {
  background: var(--background);
  border-color: var(--accent-3);
  color: var(--foreground);
}

.root.secondary:hover:not(:disabled) {
  background-color: var(--accent-2);
  border-color: var(--accent-3);
}

.root.icon {
  height: unset;
  padding: 0;
  color: var(--accent-4);
  background: var(--background);
  border-radius: var(--radius);
  border: 0;
}

.root.icon:hover:not(:disabled) {
  color: var(--foreground);
  background: var(--accent-2);
}

.root.icon:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
