.root {
  composes: screen from global;
  width: calc(800px + 2 * 24px);
  max-width: 100%;
  padding: 24px;
  margin: 0 auto;

  --gray: #888888;
  --border: #e6e6e6;
  --gray-2: #7b7b7b;
  --indent: 44px;
}
