.root {
  --modal-border-radius: var(--radius-large);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  animation: fadeIn 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 14px 24px;
  background: #fafafa;
  border-top-left-radius: var(--modal-border-radius);
  border-top-right-radius: var(--modal-border-radius);
}

.header h1 {
  font-weight: 500;
  font-size: var(--font);
}

.content {
  position: relative;
  width: 100%;
  animation: up 200ms ease-out forwards;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

.body {
  padding: 24px;
  background: var(--background);
}

.body p {
  color: var(--accent-5);
}

.footer {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 12px 24px;
  align-content: center;
  justify-content: flex-end;
  background: var(--background);
}

.footer > * + * {
  margin-left: 10px;
}

@media (min-width: 600px) {
  .root {
    top: 0;
  }

  .content {
    animation: non;
    align-self: flex-start;
    margin-top: 10vh;
    width: 400px;
  }

  .footer {
    border-bottom-left-radius: var(--modal-border-radius);
    border-bottom-right-radius: var(--modal-border-radius);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
