.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border-radius: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--input-border);
  background: transparent;
}

.avatar:not(.disabled) {
  cursor: pointer;
}

.avatar:not(.disabled):hover {
  filter: brightness(0.9);
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avatarInput {
  composes: visuallyHidden from global;
}
